body {
    font-family: Arial, sans-serif;
    background-image: url('/static/image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: pink;
    font-size: 2.5em;
    margin-top: 20px;
}

h2 {
    font-size: 1.8em;
    margin: 20px 0;
}

h2:nth-of-type(1) {
    color: green;
}

h2.add-item,
h2.stock-taken,
h2.stock-taken-record {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #1D1D3B;
    color: white;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 70%;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.update-btn {
    background-color: green;
    color: white;
}

button.update-btn:hover {
    background-color: darkgreen;
}

button.delete-btn {
    background-color: red;
    color: white;
}

button.delete-btn:hover {
    background-color: darkred;
}

button:focus {
    outline: none;
}

#logout-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout-btn:hover {
    background-color: darkred;
}

#logout-btn i {
    margin-right: 5px;
}

form {
    margin: 20px 0;
    text-align: center;
}
